/******************************************************************************
// element body
//
/// Setup the general properties of the page.
/// TODO :
///    - background color needs to be lighter on the eyes
///      to reflect the color of the producs better
///    - A better ont family
******************************************************************************/
body{
	/*letter-spacing:1px;*/
	color:#827970;
	font-size: 16px;
	font-family:'Lora',sans-serif;
	/* background-color: #61122f; */
	background-color: #FFFFFF;

}
/*******************************************************************************
// id header-nav
//
/// Twitter boot-strap provides all its customizations through a library of css
/// classes. To ensure we would not clash with out, our specific customizations
/// are provided using id. Id also has the added advantage of of providing href
*******************************************************************************/
#header-nav {
	/* background-color:  #f6b319; */
	background-color: #CA846B;
	border-radius:0;
	border: 0;
	/*height: 110px;*/
}
/*******************************************************************************
// id logo-img
//
/// Specify the brand logo to be displayed in the top left corner. We can refine
/// refine the placement and the brand later. To enable fast loading of the web
/// page ensure that the image size is not too big.
********************************************************************************/
#logo-img {
  /* Relative paths are with respect to the location of this file    */
  /* No repeat to indicate that the image should be placed only once */
  background: url('../images/pillow-brand.jpg') no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  margin: 10px 15px 10px 0;
}
/*******************************************************************************
// id input-group
//
/// Specify the layout of the search box
*******************************************************************************/
/*
#search-box {
  width:300px;
  margin:0px;
  padding-top:30px;
}

#search-box button {
  margin-left:0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
*/


/*******************************************************************************
// id navbar-brand
//
/// Brand is the brand name. In this case the brand name is Envogue. Provides
/// some structure as to where this should be embedded. Having a padding of 25px.
/// Not sure why the padding must be 25px.
********************************************************************************/
.navbar-brand {
  padding-top: 20px;
}
/*******************************************************************************
// id navbar-brand
//
/// The brand name is placed uder h1 because that may help with many search 
/// engine optimizations. Thie line-height is not quite clear why we would 
/// require this.
********************************************************************************/
.navbar-brand h1 { /* Envogue */
  font-family: 'Lora', serif;
  /*color: #557c3e;*/
  color: #FFFFFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand p { /* Simple Elegance*/
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    font-style:italic;
    margin-top: 15px;
  }
/*******************************************************************************
// id nav-list
//
/// This is the anchor id that allows us to specify properties of all the menu 
/// items. nav-list is the root whose descendants we wish to select. I am not
/// sure why nav-list a span was really defined. 
********************************************************************************/
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFFFFF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/******************************************************************************
// a span
//
/// This selects the font of the glyphicons. We make the icons biiger than the
/// the text underneath them
******************************************************************************/
#nav-list a span {
	font-size:1.8em;
}
#phone a { /* Phone number */
  text-align: center;
  /*padding-bottom: 0;*/
}
/******************************************************************************
// a:hover a:focus pseudo selectors in the context of nav-brand
//
/// The default behaviour for most browsers is to make the link change color
/// or underline it and we donot want that
******************************************************************************/
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}
/******************************************************************************
// Styling the button
//
/// Setting the color to be the same as the back ground for the margins
******************************************************************************/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;
}
/******************************************************************************
// TODO : It is not clear what this really is??
//
///
******************************************************************************/
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*****************************************************************************
// class jumbotron
//
/// Common properties of the Jumbotron - unless we specify .container in front
/// of jumbotron, the specificiy rules do not les us override
*****************************************************************************/
.container .jumbotron {
  margin: 0px;
  padding: 0px;
  /* box-shadow: 0 0 50px #3F0C1F;*/
  border: 1px solid #CA846B;
  border-radius: 0;
}

#tiles a {
  vertical-align: middle;
  text-align: center;
  color: #CA846B;  
}

#tiles a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#brands-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;

  position: relative;
  border: 1px solid #CA846B;
  overflow: hidden;
}

#brands-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#brands-tile {
  background: url('../images/privatelabel.png') no-repeat;
  background-position: center;
  background-size: 200px 200px 200px 200px;
}

#brands-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #CA846B;
  color: #FFFFFF;
  opacity: .8;
}
/*****************************************************************************
// Product Categories
//
/// Eventually these categorries must be dispatched from the data base with
/// the same styling but different images
*****************************************************************************/
#product {
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-bottom: 10px;
  position: relative;  
}
#product span {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2.0em;
  font-style: bold;
  position: absolute;
  bottom:0;
  width      : 100%;
  text-align : center;  
}
#product1 {
  background: url('../images/products/product-1.jpg') no-repeat;

}
#product1 span {
}
#product2 {
  background: url('../images/products/product-2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-bottom: 10px;
}
#product3 {
  background: url('../images/products/product-3.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-bottom: 10px;
}
#product4 {
  background: url('../images/products/product-4.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-bottom: 10px;
}
#product5 {
  background: url('../images/products/product-5.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-bottom: 10px;
}


/*****************************************************************************
// Media Queries
//
/// We will need more media queries to fine tune some of the layout and we 
/// will continue to work on it. These break points are copied from
/// bootstrap
*****************************************************************************/
@media (min-width : 1200px) {
	.container .jumbotron {
		background: url('../images/front-page-img.jpg');
		background-size: cover;
		height: 675px;
	}

}
@media (min-width: 992px) and (max-width:1199px) {
	#logo-img {
      background: url('../images/pillow-brand.jpg') no-repeat;
      background-size: cover;
      width: 70px;
      height: 70px;
    }
    .container .jumbotron {
	  background: url('../images/front-page-img.jpg');
	  background-size: cover;
	  height: 600px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	/** Use placehold.it to generate dummy images */
    .container .jumbotron {
	  background: url('../images/front-page-img.jpg');
	  background-size: cover;
	  height: 500px;
	}
}
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px; /* Do not push things down too far */
    height: 60px;      /* Simple Elegance text is very near*/
  }
  .navbar-brand h1 { 
    font-size: 5vw; /* 1vw = 1% of view port width */
    padding-top : 10px;
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 10px;
  }
  #collapsable-nav a {
  	font-size: 1.2em;
  }  
  #collapsable-nav a span {
  	font-size: 1em;
  	margin-right:5px;
  }
  /****************************************************************************
  * We need to do this because in the twitter boot strap had more specificity
  * than we wanted
  ****************************************************************************/
  .container .jumbotron {
  }

  #main-content {
  }
}


